<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    La Calculatrice
  </h1>

  <table class="calculatrice" id="calc">
    <tr>
      <td colspan="4" class="calc_td_resultat">
        <input type="text" readonly="readonly" name="calcul_resultat" value={{$saisie}} id="calcul_resultat" class="calc_resultat"/>
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="=" id="egale" (click)="egale()" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="7" id="7" (click)="saisie('7')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="8" id="8" (click)="saisie('8')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="9" id="9" (click)="saisie('9')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="+" id="plus" (click)="saisie('+')" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="4" id="4" (click)="saisie('4')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="5" id="5" (click)="saisie('5')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="6" id="6" (click)="saisie('6')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="-" id="moins" (click)="saisie('-')" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="1" id="1" (click)="saisie('1')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="2" id="2" (click)="saisie('2')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="3" id="3" (click)="saisie('3')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="/" id="diviser" (click)="saisie('/')" />
      </td>
    </tr>
    <tr>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="0" id="0" (click)="saisie('0')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="." id="point" (click)="saisie('.')" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="CE" id="ce" (click)="reset()" />
      </td>
      <td class="calc_td_btn">
        <input type="button" class="calc_btn" value="*" id="fois" (click)="saisie('*')" />
      </td>
    </tr>
  </table>
</div>
